<h1>Show Idea</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @idea.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @idea.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.project_idea_path(@conn, :edit, @project_id, @idea) %></span>
<span><%= link "Back", to: Routes.project_idea_path(@conn, :index, @project_id) %></span>
