<h1>New suggestion</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.project_suggestion_path(@conn, :create, @project_id)) %>

<span><%= link "Back", to: Routes.project_path(@conn, :show, @project_id) %></span>
