<h1>Show suggestion</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @suggestion.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @suggestion.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.project_suggestion_path(@conn, :edit, @project_id, @suggestion) %></span>
<span><%= link "Back", to: Routes.project_suggestion_path(@conn, :index, @project_id) %></span>
